{% extends 'base.html' %}


{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About Us</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          Welcoe to about us
        </p>
      </div>
    </div>
  </header>
  <div class="container" >
    <div class="row">
        <center>
            <div class="col-8">
                <br> <br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed ultricies diam. Suspendisse pulvinar eu tortor laoreet gravida. Sed consequat tempor diam, non tempor ligula convallis eu. In non scelerisque felis, quis egestas enim. Donec nec tincidunt arcu. Proin nec lectus nec mi consectetur blandit ut vel enim. Sed feugiat risus in turpis cursus bibendum. Ut blandit massa eu consequat sagittis. Integer ut risus risus. Duis tincidunt justo commodo maximus porta. Maecenas rutrum eget elit eget vulputate.
<br> <br>
                    Integer pulvinar tristique turpis, a ornare risus fringilla at. Nunc egestas interdum turpis vitae fermentum. Pellentesque semper ultrices dui, vitae volutpat eros venenatis eu. Vivamus sit amet aliquet ex. Aenean consectetur, tellus vel egestas ultrices, ex nulla pulvinar odio, quis eleifend est tellus vitae purus. Phasellus velit purus, laoreet vel vehicula at, iaculis id leo. Nullam id commodo sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque tincidunt nec felis ut luctus. Maecenas ut turpis egestas, auctor metus vel, consectetur velit. Etiam pharetra lorem et maximus rhoncus. Ut semper pretium massa, eu fermentum sem ultricies eget. Proin sit amet velit blandit, pulvinar risus ut, ullamcorper mauris. Praesent varius mauris luctus dignissim imperdiet. Ut condimentum lacus id luctus mattis. Curabitur et eleifend leo.
                </p>
                <br> <br><br> <br>
            </div>
        </center>

    </div>

  </div>

{% endblock %}