{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br><br>
    <center>
      <div class="card mb-3" style="max-width: 80%; border: 2px solid #ddd;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%; object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 1.8rem;">{{ product.name }}</h5>
              <p class="card-text" style="font-size: 1.2rem;">{{ product.description }}</p>

              {% if product.is_sale %}

              <!-- Saleee-->
              <div
              class="d-flex justify-content-center small text-warning mb-2 fs-4"
            >
              <div class="bi-star-fill"></div>
              &nbsp; &nbsp; Sale ! &nbsp; &nbsp;
              <div class="bi-star-fill"></div>
            </div>

             <!-- Product price-->
             <strike> ${{ product.price }} </strike>
             &nbsp; ${{product.sale_price}}




              {% else %}

              ${{ product.price }}



              {% endif %}


              <br><br><br>


              <a href="{% url 'home' %}" class="btn btn-secondary" >Home</a>
            <button type="button" class="btn btn-secondary" id="add-cart" value="{{ product.id }}">Add to Cart</button>
            <br><br>
            <div class="row justify-content-center">
              <div class="col-md-2">Quantity :</div>
              <div class="col-md-2">
              <select class="form-select form-select-sm" id ="qty-cart">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
                <option value="3">6</option>
              </select>
            </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      
    </center>
  </div>
  
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>

  <script>
    $(document).on('click','#add-cart',function(e){
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: "{% url 'cart_add' %}",
          data: {
              product_id: $('#add-cart').val(),
              product_qty: $('#qty-cart option:selected').text(),
              csrfmiddlewaretoken:'{{ csrf_token }}',
              action: 'post'
          },

          success: function(json){
            // console.log(json);
            document.getElementById('cart_quantity').textContent=json.qty
            location.reload();

          },

          error : function (xhr,errmsg,err) {

          }

      });
    })
  </script>

{% endblock %}